.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.1);
    margin: 100px auto;
    padding: 2rem;
    border-radius: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}
.input{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border:none;
    box-shadow: 0px 0px 5px 1px rgba(16, 16, 16, 0.1);
}
.button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.msg {
    color: red;
    font-size: 14px;
}
.button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: 550;
}
